CORS_ORIGIN=http://localhost:3000
VITE_RPC_URL=http://localhost:3002/rpc
JWT_SECRET=change-me-to-a-long-random-secret

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lms_platform
DB_HOST=localhost
DB_PORT=5432
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050


# ============================================
# RustFS Object Storage Configuration (S3-compatible)
# ============================================
RUSTFS_ENDPOINT=http://rustfs:9000
RUSTFS_ACCESS_KEY=tbrgtvefed
RUSTFS_SECRET_KEY=brtvefrde
RUSTFS_BUCKET_NAME=brtgvefdew
RUSTFS_REGION=us-east-1

# RustFS root credentials (for Docker container)
RUSTFS_ROOT_USER=brygtefd
RUSTFS_ROOT_PASSWORD=ntuybrgvefdsw45232

# ============================================
# stripe
# ============================================
STRIPE_SECRET_KEY=key_1234567890
STRIPE_PUBLIC_KEY=key_1234567890
STRIPE_WEBHOOK_SECRET=whsec_1234567890